#resumeTemplateMain {
  float: left;
}

#resumeTemplate {
  background-image: url("http://i.imgur.com/hxC2CjN.jpg");
  background-size: cover;
  height: 842px;
  width: 595px;
  margin-left: 100px;
}
